aiohttp==3.7.4
async-timeout==1.2.1
chardet==3.0.3
cycler==0.10.0
discord.py==0.16.7
matplotlib==2.0.2
mpmath==0.19
multidict==2.1.5
numpy==1.12.1
olefile==0.44
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
sympy==1.0
websockets==3.3
